<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ong.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ong.email %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ong.estado %>
</p>

<p>
  <strong>Logo:</strong>
  <% if @ong.logo.present? %>
    <%= image_tag @ong.logo, size: "60x65" rescue "" %>
  <% end %>
</p>

<div>
  <%= link_to 'Voltar', ongs_path, class: 'btn btn-default' %>
  <%= link_to 'Editar', edit_ong_path(@ong), class: 'btn btn-primary' %> 
</div>
